{%extends "main.html"%}

{% block content %}

  <header>
   <div class="">
    <img src="images/header-title.png" alt="Обложка книги" 
              >
   </div>
  </header>
  <div class="">
   <div class="">
    <div class="">
     <p>Перед вами учебный сайт для демонстрации возможностей HTML и CSS по 
        созданию своего ресурса и его публикации в Интернете. Поскольку 
        любой сайт должен содержать полезную или интересную информацию, 
        мы выбрали тему ловли льва в пустыне, которая будет, без всяких 
        сомнений, полезна любому посетителю. Так, на всякий случай.</p>
     <section class="">
      <header><h1><img src="images/warning-title.png" alt="Предупреждение"></h1></header>
      <p>Все перечисленные на сайте методы ловли льва являются 
        теоретическими и базируются на вычислительных методах. Авторы не 
        гарантируют вашей безопасности при их использовании и снимают с 
        себя всякую ответственность за результат. Помните, лев это хищник 
        и опасное животное!</p>
     </section>
     <section>
      <p>{{}}</p>
     </section>  
    </div> 
   </div>
  </div>
  <footer>
   <img src="images/lion.png" alt="" width="130" height="80" class="lion">
   <div class="footer-bg">
    <div class="copyright">
     <p><strong>Учебный сайт «Как поймать льва в пустыне»</strong></p>
     <p>&copy; Влад Мержевич</p>
    </div>
   </div>
  </footer>

{% endblock %}