{%extends "main.html"%}

{% block content %}

        <div align="center">
        <h1>Анкета претендента</h1>
        <h3>на участие в миссии</h3>
        </div>
        <form class="" method="post">

          <div class="">
            <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Введите имя" name="name">
            <input type="text" class="form-control" id="pass" aria-describedby="pass" placeholder="Введите пароль" name="name">
            <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Введите имя" name="name">
            <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Введите имя" name="name">
            <input type="text" class="form-control" id="surname" aria-describedby="surname" placeholder="Введите фамилию" name="surname">

          </div>
          <div class="">
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Введите адрес почты" name="email">

          </div>
        <div class="">
          <label for="form-check">Пол</label>
          <div class="">
            <input class="" type="radio" name="sex" id="male" value="male" checked>
            <label class="" for="male">
              Мужской
            </label>
          </div>
          <div class="">
            <input class="" type="radio" name="sex" id="female" value="female">
            <label class="" for="female">
              Женский
            </label>
          </div>
        </div>
          <form method="post" enctype="multipart/form-data">
            <button type="submit" class="">Отправить</button>
          </form>
        </form>
{% endblock %}